<extend name="Public:edit"/>
<block name="css">
    <link type="text/css" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css"  rel="stylesheet"/>
</block>
<block name="form">
    <form method="post" action="{:U()}" name="listForm">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">用户名</td>
                <td>
                    <input type="text" name="username" maxlength="60" value="{$username}" <notempty name="id">disabled="disabled"</notempty> />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <empty name="id">
            <tr>
                <td class="label">密码</td>
                <td>
                    <input type="text" name="password" maxlength="60" value="{$password}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            </empty>
            <tr>
                <td class="label">email</td>
                <td>
                    <input type="text" name="email" maxlength="60" value="{$email}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">所属角色</td>
                <td>
                    <volist name="roles" id="role">
                        <input type="checkbox" name="role_ids[]" class="role_id" value="{$role.id}">{$role.name}
                    </volist>
                </td>
            </tr>
            <tr>
                <td class="label">额外权限</td>
                <td>
                    <div id="permission_tree"></div>
                    <ul id="treeDemo" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">简介</td>
                <td>
                    <textarea name="intro" cols="60" rows="4">{$intro}</textarea>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" class="status" name="status" value="1"/>是<input type="radio" class="status"
                                                                                        name="status" value="0"/>否 <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}" class="button"/>
                    <input type="submit" class="button " value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>

<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript">
        $(function(){
            //编辑时，选中用户的所属角色
            <notempty name="id">
                var $role_ids= {$role_ids};
                $('.role_id').val($role_ids);
            </notempty>



            //1 树的设置
            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id", //设置parent_id
                    }
                },
                callback: {
                    onCheck: function(event, treeId, treeNode){
                        console.debug(treeNode);
                        //获取到所有选中的节点
                        var nodes =treeObject.getCheckedNodes(true);
                        $('#permission_tree').empty();
                        var html='';
                        $(nodes).each(function(){
                            html="<input type='hidden' name='permission_ids[]' value='"+this.id+"'>";
                            $('#permission_tree').append(html);
                        });
                    }
                }
            };
            //2 准备数据{ id:1, pId:0, name:"父节点1 - 展开", open:true},
            var zNodes ={$nodes};  //注意比对例子中的数据和自己传的数据  parent_id不同
            //3  定义树的对象
            var treeObject =$.fn.zTree.init($("#treeDemo"), setting, zNodes);
            //4  使用对象中的方法让其展开  分类树全部展开
            treeObject.expandAll(true);

            //编辑时选中角色的所属权限
            <notempty name="id">
            var permission_ids={$permission_ids};
            $(permission_ids).each(function(){
                var node=treeObject.getNodeByParam('id',this);
                //node:需要选中的节点, 第一个true: 表示选中,  第二个false:表示不关联, 第三true: 表示选中时激活事件
                treeObject.checkNode(node,true,false,true);
            });
            </notempty>




        });
    </script>
</block>