<extend name="Public:edit"/>
<block name="css">
    <link type="text/css" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css"  rel="stylesheet"/>
</block>
<block name="form">
    <form method="post" action="{:U()}" name="listForm">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">菜单名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">菜单URL地址</td>
                <td>
                    <input type="text" name="url" maxlength="60" value="{$url}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">父菜单</td>
                <td>
                    <input type="hidden" name="parent_id" class="parent_id" maxlength="60" value="{$parent_id}"/>
                    <input type="text" name="parent_text" class="parent_text" maxlength="60"  disabled="disabled"  value="默认为顶级菜单"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <ul id="treeDemo" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">所属权限</td>
                <td>
                    <div id="permission_tree_permission"></div>
                    <ul id="treeDemo_permission" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">简介</td>
                <td>
                    <textarea name="intro" cols="60" rows="4">{$intro}</textarea>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" class="status" name="status" value="1"/>是<input type="radio" class="status"
                                                                                        name="status" value="0"/>否 <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}" class="button"/>
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>

<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript">
        $(function(){
            //1 树的设置
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id", //设置parent_id
                    }
                },
                callback: {
                    onClick: function(event, treeId, treeNode){
//                        console.debug(treeNode);
                        $('.parent_id').val(treeNode.id);
                        $('.parent_text').val(treeNode.name);
                    }
                }
            };
            //2 准备数据{ id:1, pId:0, name:"父节点1 - 展开", open:true},
            var zNodes ={$nodes};  //注意比对例子中的数据和自己传的数据  parent_id不同
            //3  定义树的对象
            var treeObject =$.fn.zTree.init($("#treeDemo"), setting, zNodes);
            //4  使用对象中的方法让其展开  分类树全部展开
            treeObject.expandAll(true);

            //当是编辑页面时 要让分类树中的对应父分类处于选中状态
//            console.debug({$id});
            <notempty name='id'> //id是分类数据的id
            var parent_id = {$parent_id};
            //根据parent_id找到对应的节点
            var parentNode =  treeObject.getNodeByParam('id',parent_id);
            if(parentNode){
                //选中该节点
                treeObject.selectNode(parentNode);
                //将父节点的name和id赋值给
                $('.parent_id').val(parentNode.id);
                $('.parent_text').val(parentNode.name);
            }
            </notempty>








            //1 树的设置
            var setting_permission = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id", //设置parent_id
                    }
                },
                callback: {
                    onCheck: function(event, treeId, treeNode){
                        console.debug(treeNode);
                        //获取到所有选中的节点
                        var nodes_permission =treeObject_permission.getCheckedNodes(true);
                        $('#permission_tree_permission').empty();
                        var html='';
                        $(nodes_permission).each(function(){
                            html="<input type='hidden' name='permission_ids[]' value='"+this.id+"'>";
                            $('#permission_tree_permission').append(html);
                        });
                    }
                }
            };
            //2 准备数据{ id:1, pId:0, name:"父节点1 - 展开", open:true},
            var zNodes_permission ={$nodes_permission};  //注意比对例子中的数据和自己传的数据  parent_id不同
            //3  定义树的对象
            var treeObject_permission =$.fn.zTree.init($("#treeDemo_permission"), setting_permission, zNodes_permission);
            //4  使用对象中的方法让其展开  分类树全部展开
            treeObject_permission.expandAll(true);


            //编辑时选中角色的所属权限
            <notempty name="id">
            var permission_ids={$permission_ids};
            $(permission_ids).each(function(){
                var node=treeObject_permission.getNodeByParam('id',this);
                //node:需要选中的节点, 第一个true: 表示选中,  第二个false:表示不关联, 第三true: 表示选中时激活事件
                treeObject_permission.checkNode(node,true,false,true);
            });
            </notempty>
        });
    </script>
</block>